<li class="trip mdl-list__item mdl-list__item--two-line">
  <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-avatar">directions_bus</i>
    <span><%= trip.route_id %></span>
    <span class="mdl-list__item-sub-title"><%= trip.headsign %></span>
  </span>
  <span class="mdl-list__item-secondary-content">
    <span class="mdl-list__item-secondary-info">Details</span>
    <a class="mdl-list__item-secondary-action" href='<%= "/trips/#{trip.trip_id}" %>'>
      <i class="material-icons">visibility</i>
    </a>
  </span>
  <span class="mdl-list__item-secondary-content">
    <span class="mdl-list__item-secondary-info">Snapshot</span>
    <a class="mdl-list__item-secondary-action" href='<%= "/trips/#{trip.trip_id}/snapshot" %>'>
      <i class="material-icons">history</i>
    </a>
  </span>
  <span class="mdl-list__item-secondary-content">
    <span class="mdl-list__item-secondary-info">Dashboard</span>
    <a class="mdl-list__item-secondary-action" href='<%= "/trips/#{trip.trip_id}/bus_interval" %>'>
      <i class="material-icons">assessment</i>
    </a>
  </span>
</li>

<hr>
