<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
		<h1>
  		Bus Trips (<%= @trips.count %>)
		</h1>
	</div>
  <div class="mdl-layout-spacer"></div>
</div>

<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
	<div class="mdl-cell mdl-cell--4-col mdh-expandable-search mdl-typography--text-center">
		<i class="material-icons">search</i>
		<%= form_tag(trips_path, :method => "get", id: "search-form") do %>
			<%= text_field_tag :search, params[:search], placeholder: "Search", size: 1, class: "mdl-textfield__input" %>
		<% end %>
	</div>
  <div class="mdl-layout-spacer"></div>
</div>


<ul class="demo-list-two mdl-list" id="trips">
  <div class="page">
    <%= render @trips %>
  </div>
</ul>
<%= paginate @trips %>
