<script>
$( document ).ready(function() {
  var url = window.location.pathname;
  initTripMap(url);
});
</script>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">
          <%= @trip.trip_id %>  <%= @trip.headsign %>
          <h2>
      </div>
      <div class="mdl-card__supporting-text">
        <ul class='mdl-list'>
          <li class="mdl-list__item">
            <strong>Companies: </strong> <%= @trip.companies %>
        </li>
        <li class="mdl-list__item">
          <strong>Stops: </strong> <%= @trip.stops.count %>
      </li>
      <li class="mdl-list__item">
        <strong>Distance: </strong> <%= (@trip.shape_dist / 1000.0).round(2) %> km
      </li>
        </ul>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href='<%= "/trips/#{@trip.trip_id}/snapshot" %>'>
          Snapshot
        </a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href='<%= "/trips/#{@trip.trip_id}/bus_interval" %>'>
          Dashboard
        </a>
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--9-col">
    <div id="map"></div>
  </div>
</div>

