<script>
  $( document ).ready(function() {
    var url = window.location.pathname;
    var trip = url.match(/\/([^\/]+)\/([^\/]+)?/)[2];
    console.log(trip)
    plotBusInterval(trip);
  });
</script>

<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
    <h1>
	    Dashboard
    </h1>
    <h4>
      <%= @trip.trip_id %>  <%= @trip.headsign %>
    </h4>
	</div>
  <div class="mdl-layout-spacer"></div>
</div>


<!-- <table>
  <tr class="row"> -->
  <div id="trips_chart_div" style="width: 100%; height: 600px;"></div>
  <h5>Bus Trip interval by bus stop</h5>
  <h6>Each colored line in the chart represents a different bus of that line.
  The analysis is made per hour and per bus stop, so it is possible to see
  when the buses become together or apart from one another, giving an overview
  of the cause for bus delay: the irregular departure, the traffic or even both.</h6>

  <div id="chart_div" style="width: 100%; height: 500px;"></div>
  <h5> Bus interval </h5>
  <h6>Consider two buses A and B. The difference between A.departure_time and B.departure_time is calculated and called Departure Interval. The same thing is done for arrival time, with the name Arrival Interval. The difference between these two intervals calculated is the error, that can be positive, zero or negative. It is positive if B got more traffic than A and negative if the opposite happened. </h6>

  <div id="travel_time_chart_div" style="width: 100%; height: 500px;"></div>
  <h5> Travel time in a line </h5>
  <h6>The travel time graphic plots not only the travel time for buses of a chosen line but also an orange line that represents the mean travel time of the day and
  a red line with the average grouped by hour. Then, if the travel line is above
  the average, the trip takes longer than expected. If it is under, takes less than expected.</h6>

  <div id="statistics_chart_div" style="width: 100%; height: 500px;"></div>

  <h5>Average Departure Interval</h5>
  <h6>It shows the average and standard deviation of departure interval grouped by intervals of one hour. This chart indicates possible nonconformities with
  the bus dispatch at regular intervals. The higher the line that indicates
  standard deviation, the greater the irregularity in compliance.</h6>

  <div id="freq_dispatch_chart_div" style="width: 100%; height: 500px;"></div>
  <h5> Planned versus Real dispatch </h5>
  <h6>In the chart is possible to see the number of planned buses to dispatch versus the real dispatch done by the terminal. So, comparing both columns is possible to see if the contract is being fulfilled or not. Ideally both should be at the same level. If the blue column is higher than the red one, the terminal dispatched less buses than it should. If the red one is higher, the opposite happened.</h6>
  <!-- <div id="frequency_dispatch_description" style="width: 75%;"></div> -->

  <!-- </tr>
</table> -->

<!-- <span id='colchart_diff' style='width: 450px; height: 250px; display: inline-block'></span> -->
