
<script>
  $( document ).ready(function() {
    var url = window.location.pathname;
    // let trip = url.match(/\/([^\/]+)\/([^\/]+)?/)[2];
    console.log(url)
    plotSummaryDispatch();
  });
</script>

<h5> Fulfill or not the contract</h5>
<h6>To each hour of the day, there is a estimated number of buses that
shoud leave the terminal. This number can be zero, if in that hour
no buses are dispatched for that line. To fulfill the contract,
the number of buses planned and the real dispatch should be equal.</h6>


<div id="fulfill" style="width: 900px; height: 500px;"></div>
<div id="not_fulfill" style="width: 900px; height: 500px;"></div>
