<script>
  $( document ).ready(function() {
    var url = window.location.pathname;
    var trip = url.match(/\/([^\/]+)\/([^\/]+)\/?$/)[1];
    initSnapshotMap(url, trip);
  });
</script>
<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--4-col mdl-typography--text-center">
		<h3>
  		Snaptshot
		</h3>
    <h4>
      <%= @trip.trip_id %>  <%= @trip.headsign %>
    </h4>
	</div>
  <div class="mdl-layout-spacer"></div>
</div>

<div>
  <!-- 1440 minutes in one day -->
  <input id="timestamp" class="mdl-slider mdl-js-slider" type="range"
  min="0" max="1440" value="0" tabindex="0">
  <p id="trip_info">
  </p>
</div>
<div id="map"></div>

