<div class="mdl-grid">
	<div class="mdl-layout-spacer"></div>
	<div class="mdl-cell mdl-cell--8-col mdl-typography--text-center">
		<h1>
			About us
		</h1>
	</div>
	<div class="mdl-layout-spacer"></div>
</div>

<div class="mdl-grid demo-content">
	<div class="main-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
		We are the Bus Delay Analytical System developers team. <br>
		Our tool is open-source and aims at supporting the investigation and research on frequency problems and bus delays in the city of São Paulo through the analysis of bus system data. <br>

		Enjoy the app and analyze the lines of your preference! <br>
	</div>
</div>

<div class="mdl-grid demo-content">
	<div class="mdl-typography--text-center main-charts mdl-color--white mdl-cell mdl-cell--3-col mdl-grid">
		<div id="arthur" class="mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<h1 class="mdl-card__title-text">Arthur Del Esposte</h1>
			</div>
		</div>
	</div>
	<div class="mdl-typography--text-center main-charts mdl-color--white mdl-cell mdl-cell--3-col mdl-grid">
		<div id="cleber" class="mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<h1 class="mdl-card__title-text">Cleber Okida</h1>
			</div>
		</div>
	</div>
	<div class="mdl-typography--text-center main-charts mdl-color--white mdl-cell mdl-cell--3-col mdl-grid">
		<div id="fernanda" class="mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<h1 class="mdl-card__title-text">Fernanda Camargo</h1>
			</div>
		</div>
	</div>
	<div class="mdl-typography--text-center main-charts mdl-color--white mdl-cell mdl-cell--3-col mdl-grid">
		<div id="thiago" class="mdl-card mdl-shadow--2dp">
			<div class="mdl-card__title">
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<h1 class="mdl-card__title-text">Thiago Petrone</h1>
			</div>
		</div>
	</div>
</div>

<hr>

<div class="mdl-grid">
	<div class="mdl-layout-spacer"></div>
	<div class="mdl-cell mdl-cell--8-col mdl-typography--text-center">
		<h3>
			Partners
		</h3>
	</div>
	<div class="mdl-layout-spacer"></div>
</div>

<div class="mdl-grid demo-content">
	<div class="mdl-layout-spacer"></div>
	<div class="mdl-typography--text-center main-charts mdl-color--white mdl-cell mdl-cell--3-col mdl-grid">
		<div id="ime" class="mdl-card mdl-shadow--2dp">
			<a href="https://www.ime.usp.br/">
				<div class="mdl-card__title">
				</div>
			</a>
		</div>
	</div>
	<div class="mdl-typography--text-center main-charts mdl-color--white mdl-cell mdl-cell--3-col mdl-grid">
		<div id="scipopulis" class="mdl-card mdl-shadow--2dp">
			<a href="http://www.scipopulis.com/">
			<div class="mdl-card__title">
			</div>
			</a>
		</div>
	</div>
	<div class="mdl-layout-spacer"></div>
</div>

