/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul li span.mdl-list__item-secondary-content a {
  margin: auto;
}i

#content-wrapper {
  min-height: 100%;

  /* sticky footer */
  margin-bottom: -100px;
  padding-bottom: 100px;
}


/**
 * Footer CSS
 */
footer {
  height: 30px;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  padding-top: 10px;
}

.home-search {
  margin: auto;
}

#arthur .mdl-card__title {
  background: url("/arthur.png") center / cover;
  color: #fff;
  height: 285px;
}

#thiago .mdl-card__title {
  background: url("/thiago.jpg") center / cover;
  color: #fff;
  height: 285px;
}

#fernanda .mdl-card__title {
  background: url("/fernanda.png") center / cover;
  color: #fff;
  height: 285px;
}

#cleber .mdl-card__title {
  background: url("/cleber.jpg") center / cover;
  color: #fff;
  height: 285px;
}

#scipopulis .mdl-card__title {
  background: url("/scipopulis.png") center / cover;
	background-size: 250px 70px;
	background-repeat: no-repeat;
  color: #fff;
  height: 140px;
}

#ime .mdl-card__title {
  background: url("/ime.png") center / cover;
	background-size: 98px 125px;
	background-repeat: no-repeat;
  color: #fff;
  height: 140px;
}
