<!DOCTYPE html>
<html>
  <head>
    <title>BusDelay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script type="text/javascript">
google.charts.load('current', {packages: ['corechart']});
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_ESzW9YFEMfEQoPrnvnJtpf6F2YUjRfU&libraries=visualization"></script>
  </head>

  <body class="<%= controller_name %>">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <a class="mdl-navigation__link" href="/">
            <span class="mdl-layout-title">Bus Delay A. S.</span>
          </a>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/trips">Bus Trips</a>
            <a class="mdl-navigation__link" href="/summary">Summary</a>
            <a class="mdl-navigation__link" href="/about">About</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <a class="mdl-navigation__link" href="/">
          <span class="mdl-layout-title">Bus Delays</span>
        </a>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/trips">Bus Trips</a>
          <a class="mdl-navigation__link" href="/summary">Summary</a>
          <a class="mdl-navigation__link" href="/about">About</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div id="content-wrapper" class="page-content">
          <%= yield %>
        </div>
      </main>
      <footer>
        <div class="mdl-container mdl--text-center">
          Made with ♥ by IME
        </div>
      </footer>
    </div>
  </body>
</html>
